* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    color: bisque;
}

header {
padding-bottom: 50px;
}

.headers {
    background: #333;
    color: white;
    padding: 15px;
    text-align: center;
    border: 50px;
}

body {
    background-color: darkolivegreen;
}

.delete {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 3px;
    padding-left: 3px;
    font-size: 20px;
    color: aliceblue;
    border-radius: 5px;
    border-color: black;
    background-color: maroon;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    text-align: center;
}